<html>
  <head>
    <title>Markdown Snippet</title>
    <link rel="stylesheet" href="/static/css/defaults.css" type="text/css">
  </head>
  <body>
    <table border=2>    
    <tr>
    <td>    
        Country_retailer
    </td>   
    <td>
        Date
    </td>
    <td>
        Start
    </td>
    <td>
        Stop
    </td>
    <td>
        Duration
    </td>
    </tr>
    {% for country_retailer in data %}
    <tr>
    <td>
        <h3>{{country_retailer['key']}}</h3>
    </td>
    <td>
        <h3>{{country_retailer['date']}}</h3>
    </td>
    <td>
        <h3>{{country_retailer['start']}}</h3>
    </td>
    <td>
        <h3>{{country_retailer['stop']}}</h3>
    </td>
    <td>
        <h3>{{country_retailer['duration']}}</h3>
    </td>
    </tr>
    {% endfor %}
    </table>
  </body>
</html>